<a href="https://colab.research.google.com/github/annsonramos/Agile-Web-Dev-Project/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas, numpy
arr = numpy.array([10, 20, 30, 40, 50]) # Creates an array of number
print(arr)
series = pandas.Series(arr) # Series() function is used to create a new series which acts like a dictionary and prints a row/column type of format
print(series)

[10 20 30 40 50]
10

In [6]:
import pandas
data = {'a': 10, 'b': 20, 'c': 30} # A simple dictionary
series = pandas.Series(data) # prints the dictionary and a row/column type of format
print(series)

a    10
b    20
c    30
dtype: int64

In [7]:
import pandas
s = pandas.Series([10, 20, 30, 40, 50])
print(s[1:4]) # prints the elements of the series from index 1-4

1    20
2    30
3    40
dtype: int64

In [8]:
import pandas
listx = [10,20,30,40]
table = pandas.DataFrame(listx) # Converts list into a data frame
print(table)

    0
0  10
1  20
2  30
3  40

In [9]:
import pandas
data = [{'a': 1, 'b': 2}, {'a': 2, 'b': 4, 'c': 8}]
table = pandas.DataFrame(data, index = ['first', 'second']) # Only targets the first and second index, therefore there would be NaN for the key 'c' since there's nothing for its first index
print(table)

        a  b    c
first   1  2  NaN
second  2  4  8.0

In [11]:
import pandas
data = {'one': pandas.Series([1,2,3], index = ['a', 'b', 'c']),
        'two': pandas.Series([1,2,3,4], index = ['a', 'b', 'c', 'd'])}

table = pandas.DataFrame(data)
print(table) # Column 1 and Row d will have NaN since there's no 'd' in 'one'

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [19]:
import pandas
data = {'one': pandas.Series([1, 2, 3], index = ['a', 'b', 'c']),
        'two': pandas.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])}
table = pandas.DataFrame(data)
table['three'] = pandas.Series([10,20,30], index = ['a', 'b', 'c']) # This line of code will add a new column called "Three"
print(table)

del table['one'] # Deletes column "one"
print(table)

col = table.pop('two') # Deltes column "one"
print(col)
print(table)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
a    1
b    2
c    3
d    4
Name: two, dtype: int64
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [20]:
import pandas as pd
a_row = pd.Series([1,2])
df = pd.DataFrame([[3,4], [5,6]], index = ["row1", "row2"])
row_df = pd.DataFrame([a_row], index = ["row3"])
df = pd.concat([row_df, df])
print(df)

      0  1
row3  1  2
row1  3  4
row2  5  6

In [21]:
import pandas as pd
data = {'name': ['Somu', 'Kiku', 'Amol', 'Lin'],
        'physics':[68, 74, 77, 78],
        'chemistry':[84, 56, 73, 69],
        'algebra':[78, 88, 82, 87]}

df_marks = pd.DataFrame(data)
print('Original DataFrame\n---------------')
print(df_marks)

new_row = {'name': 'Geo', 'physics': 87, 'chemistry':92, 'algebra': 97}
#append row to the dataframe
df_marks = df_marks.append(new_row, ignore_index=True)

print('\n\nNew row added to DataFrame\n----------------')
print(df_marks)

Original DataFrame
---------------
   name  physics  chemistry  algebra
0  Somu       68         84       78
1  Kiku       74         56       88
2  Amol       77         73       82
3   Lin       78         69       87


New row added to DataFrame
----------------
   name  physics  chemistry  algebra
0  Somu       68         84       78
1  Kiku       74         56       88
2  Amol       77         73       82
3   Lin       78         69       87
4   Geo       87         92       97

In [22]:
import pandas as pd

file_path = "C:\Users\annso\downloads\SalesManager.csv"
sales_mgr_data= pandas.read_csv(file_path)
#print(table)

#Print the ‘Units’ Column, the print the sum and avg of the number of units sold.
unit_col= table['Units']
#https://www.kaggle.com/spscientist/students-performance-in-examsprint(unit_col)
print(sales_mgr_data['Units'])
print('Sum: ', sales_mgr_data['Units'].sum())
print('Avg: ', sales_mgr_data['Units'].mean())

#Print the names of the sales managers (without redundancy)
print(sales_mgr_data["Sales Manager"].unique())
print(sales_mgr_data.loc[0])
print(sales_mgr_data.loc[2])
new_row = {'OrderDate':'05-Jul-18', 'Region':'West', 'Sales Manager':'Henikr', 'Item':'Bottle', 'Units': 100, 'Price': 5.99}
sales_mgr_data = sales_mgr_data.append(new_row, ignore_index=True)
sales_mgr_data = sales_mgr_data.drop(index=26)
print(sales_mgr_data)
sales_mgr_data.to_csv("new_sales_mgr")

FileNotFoundError: ignored